Django==2.2
django-cors-headers==2.5.2
djangorestframework==3.9.3
docutils==0.14
isodate==0.6.0
jieba==0.39
mongoengine==0.17.0
mysqlclient==1.4.2.post1
pymongo==3.8.0
pyparsing==2.4.0
pytz==2019.1
rdflib==4.2.2
REfO==0.13
six==1.12.0
SPARQLWrapper==1.8.2
sqlparse==0.3.0
